body {
  color: #0051ba;
  background-image: url(images/cloud-sky-twilight-times.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: roboto;
  margin: 60px auto;
  width: 700px;
}

h1 {
  font-size: 30px;
  text-align: left;
  margin: 6px 0px;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0 15px;
}

h3 {
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  margin: 25px 0 15px 0;
  border-radius: 20px;
  background-color: #0051ba;
  padding: 5px 0;
  color: white;
  box-shadow: 5px 5px 5px grey;
}

.btn-outline-primary {
  color: #0051ba;
  background-color: white;
  border: solid 1px #0051ba;
  position: relative;
  left: -82px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  padding: 6px;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #0051ba;
  transition: all 200ms ease-in-out;
}

.current-location {
  color: white;
  background-color: #0051ba;
  border: solid 1px #0051ba;
  position: relative;
  left: -5px;
  top: -38px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  padding: 6px;
}

.current-location:hover {
  color: #0051ba;
  background-color: white;
  transition: all 200ms ease-in-out;
}

.form-control {
  max-width: 230px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  padding: 6px;
}

.todays-temp {
  font-size: 50px;
}

.locale-date {
  margin-top: -44px;
  list-style-type: none;
  text-align: left;
  line-height: 24px;
}

.humidity-wind {
  list-style-type: none;
  text-align: center;
  line-height: 20px;
  padding: 0px;
}

#city {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0px 0px -25px;
  padding: 8px 0 8px 0;
  text-align: left;
  list-style: none;
}

#search-city-input {
  max-width: 244px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}
#date,
#conditions {
  position: relative;
  font-size: 16px;
  margin: 0px 0px 0px -25px;
  padding: 0px;
  text-align: left;
  list-style: none;
  text-transform: capitalize;
}

.card-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.card-text {
  text-align: center;
  margin: 10px 0 0 0;
}

.card {
  box-shadow: 5px 5px 5px grey;
  border-radius: 25px;
  background-color: #cbdde7;
  border: none;
  margin: 10px 0px 0px 0px;
}

.col-md {
  width: 100%;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

.col-md:hover {
  transform: scale(115%);
}

.current-box {
  border-style: none;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  border-radius: 25px;
  background-color: #cbdde7;
  max-width: 250px;
  padding: 10px;
  margin-right: 10px;
}

.icon {
  display: block;
  text-align: center;
  font-size: 30px;
}
.todays-icon {
  display: inline;
  text-align: center;
  font-size: 50px;
  position: relative;
  top: -3px;
}

#units {
  position: relative;
  top: -23px;
  font-size: 15px;
}

.temperature {
  font-size: 50px;
}
